{%- comment -%}
  Snippet: quantity-bundle
  Suporta metafield custom.kits como list.product_reference
{%- endcomment -%}

{{ 'quantity-bundle.css' | asset_url | stylesheet_tag }}
<script>
  window.buyXGetYEnabled = {{ settings.buy_x_get_y_enabled | json }};
  window.bxgyIsCumulative = {{ settings.buy_x_get_y_cumulative | json }};
</script>
<script src="{{ 'quantity-bundle.js' | asset_url }}" defer="defer"></script>

{%- assign qb_kits = product.metafields.custom.kits.value -%}
{% assign pix_discount_value = 0.93 %}

<quantity-bundle
  class="quantity-bundle"
  data-section-id="{{ section.id }}"
  data-form-id="{{ product_form_id }}"
  {%- if settings.buy_x_get_y_enabled -%}
    data-buy-x-get-y-enabled="true"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  <p class="qb-heading">
    {{ block.settings.heading | default: 'Escolha sua opção:' }}
    <strong class="qb-heading-qty"></strong>
    <span class="treatment-month"></span>
  </p>

  <div class="qb-cards">
    {%- comment -%}
      ---- KITS (metafield)
    {%- endcomment -%}

    {%- if qb_kits != blank -%}
      {%- for kit in qb_kits reversed -%}
        {%- assign qb_v = kit.selected_or_first_available_variant -%}
        {%- assign qb_compare = qb_v.compare_at_price | default: qb_v.price -%}
        {%- assign qb_threatment_month = kit.metafields.custom.tempo_de_tratamento -%}

        {%- comment -%} Seleciona settings por índice do kit {%- endcomment -%}
        {%- if forloop.index == 1 -%}
          {%- assign qb_qty = block.settings.kit1_quantity | default: 7 -%}
          {%- assign qb_inst_count = block.settings.kit1_installment_count | default: 3 -%}
          {%- assign qb_inst_label = block.settings.kit1_installment_label | default: '3x sem juros de' -%}
          {%- assign qb_kit_title = block.settings.kit1_title | default: kit.title -%}
          {%- assign qb_qty_label = block.settings.kit1_qty_label | default: kit.title -%}
          {%- assign qb_show_badge = block.settings.kit1_show_badge -%}
          {%- assign qb_badge_text = block.settings.kit1_badge | default: 'Menor preço' -%}
          {%- assign qb_threatment_month = kit.metafields.custom.tempo_de_tratamento | default: 3 -%}
        {%- elsif forloop.index == 2 -%}
          {%- assign qb_qty = block.settings.kit2_quantity | default: 4 -%}
          {%- assign qb_inst_count = block.settings.kit2_installment_count | default: 3 -%}
          {%- assign qb_inst_label = block.settings.kit2_installment_label | default: '3x sem juros de' -%}
          {%- assign qb_kit_title = block.settings.kit2_title | default: kit.title -%}
          {%- assign qb_qty_label = block.settings.kit2_qty_label | default: kit.title -%}
          {%- assign qb_show_badge = block.settings.kit2_show_badge -%}
          {%- assign qb_badge_text = block.settings.kit2_badge -%}
          {%- assign qb_threatment_month = kit.metafields.custom.tempo_de_tratamento | default: 2 -%}
        {%- else -%}
          {%- assign qb_inst_count = 3 -%}
          {%- assign qb_inst_label = '3x sem juros de' -%}
          {%- assign qb_kit_title = kit.title -%}
          {%- assign qb_qty_label = kit.title -%}
          {%- assign qb_show_badge = false -%}
          {%- assign qb_badge_text = '' -%}
        {%- endif -%}

        {%- assign qb_bonus_flag = '' -%}
        {%- if settings.buy_x_get_y_enabled -%}
          {%- if qb_qty == 5 -%}
            {%- assign qb_bonus_flag = '+2 potes' -%}
          {%- elsif qb_qty == 3 -%}
            {%- assign qb_bonus_flag = '+1 pote' -%}
          {%- endif -%}
        {%- endif -%}

        <div
          class="qb-card"
          data-variant-id="{{ qb_v.id }}"
          data-price="{{ qb_v.price }}"
          data-compare="{{ qb_compare }}"
          data-qty-number="{{  qb_qty }}"
          data-installment-count="{{ qb_inst_count }}"
          data-installment-label="{{ qb_inst_label | escape }}"
          data-qty-label="{{ qb_qty_label | strip_html | escape }}"
          data-treatment-month="{{ qb_threatment_month | escape }}"
          {%- if kit.featured_image -%}
            data-featured-image="{{ kit.featured_image | image_url: width: 1946 }}"
            data-featured-srcset="{{ kit.featured_image | image_url: width: 493 }} 493w, {{ kit.featured_image | image_url: width: 823 }} 823w, {{ kit.featured_image | image_url: width: 1100 }} 1100w, {{ kit.featured_image | image_url: width: 1946 }} 1946w"
          {%- endif -%}
        >
          {%- if qb_show_badge -%}
            <span class="qb-badge">{{ qb_badge_text }}</span>
          {%- endif -%}

          <div class="qb-wrapper-card-img-radio">
            <div class="qb-card-img">
              {%- if kit.featured_image -%}
                <img
                  src="{{ kit.featured_image | image_url: width: 300 }}"
                  alt="{{ kit.title | escape }}"
                  width="150"
                  height="150"
                  loading="lazy"
                >
              {%- endif -%}
              {%- if qb_bonus_flag != '' -%}
                <span class="qb-card-img-flag">{{ qb_bonus_flag }}</span>
              {%- endif -%}
            </div>

            <div class="qb-radio">
              <span class="qb-radio-dot"></span>
            </div>
          </div>

          <div class="qb-wrapper-content">
            <div class="qb-card-title"> 
              {{ qb_kit_title }}

            </div>
            <span class="qb-installment-label">
              {{ qb_inst_label }}
            </span>

            <span class="qb-price-big">
              {{ qb_v.price | divided_by: qb_inst_count | money }}
            </span>

            {% assign price_pix = qb_v.price | times: 0.93 | ceil | plus: 99 | divided_by: 100 | floor | times: 100 %}

            <span class="qb-price-cash"> ou {{ price_pix | money }} no pix </span>
          </div>
            <span class="unit-price-mob large-up-hide medium-hide>({{ price_pix | divided_by: qb_inst_count | money }}/unidade)</span>
        </div>
      {%- endfor -%}
    {%- endif -%}

    {%- comment -%}
      ---- PRODUTO PRINCIPAL (1 unidade)
    {%- endcomment -%}

    {%- assign qb_v = product.selected_or_first_available_variant -%}
    {%- assign qb_compare = qb_v.compare_at_price | default: qb_v.price -%}
    {%- assign qb_threatment_month = product.metafields.custom.tempo_de_tratamento | default: '1 MÊS' -%}

    <div
      class="qb-card"
      data-variant-id="{{ qb_v.id }}"
      data-price="{{ qb_v.price }}"
      data-compare="{{ qb_compare }}"
      data-installment-count="{{ block.settings.main_installment_count | default: 3 }}"
      data-installment-label="{{ block.settings.main_installment_label | default: '3x sem juros de' | escape }}"
      data-qty-label="{{ block.settings.main_qty_label | default: '1 unidade' | escape }}"
      data-treatment-month="{{ qb_threatment_month | escape }}"
      {%- if product.featured_image -%}
        data-featured-image="{{ product.featured_image | image_url: width: 1946 }}"
        data-featured-srcset="{{ product.featured_image | image_url: width: 493 }} 493w, {{ product.featured_image | image_url: width: 823 }} 823w, {{ product.featured_image | image_url: width: 1100 }} 1100w, {{ product.featured_image | image_url: width: 1946 }} 1946w"
      {%- endif -%}
    >
      {%- if block.settings.main_show_badge -%}
        <span class="qb-badge">{{ block.settings.main_badge }}</span>
      {%- endif -%}

      <div class="qb-wrapper-card-img-radio">
        <div class="qb-card-img">
          {%- if product.featured_image -%}
            <img
              src="{{ product.featured_image | image_url: width: 300 }}"
              alt="{{ product.title | escape }}"
              width="150"
              height="150"
              loading="lazy"
            >
          {%- endif -%}
        </div>
        <div class="qb-radio">
          <span class="qb-radio-dot"></span>
        </div>
      </div>

      <div class="qb-wrapper-content">
        <strong class="qb-card-title">
          {{ block.settings.main_title | default: '1 unidade' }}
        </strong>
        <span class="qb-installment-label">
          {{ block.settings.main_installment_label | default: '3x sem juros de' }}
        </span>
        <span class="qb-price-big">
          {{ qb_v.price | divided_by: block.settings.main_installment_count | money }}
        </span>
        {% assign price_pix = qb_v.price | times: 0.93 | ceil | plus: 99 | divided_by: 100 | floor | times: 100 %}
        <span class="qb-price-cash"> ou {{ price_pix  | money }} no pix </span>
        <span class="unit-price-mob large-up-hide medium-hide>({{ price_pix | divided_by: qb_inst_count | money }}/unidade)</span>
      </div>
    </div>
  </div>

  <div class="qb-summary">
    <span class="qb-summary-badge" hidden></span>

    <s class="qb-summary-compare" hidden></s>

    <span class="qb-summary-price"></span>

    <span class="qb-summary-unit"></span>
  </div>
</quantity-bundle>
